@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.footer_div .footer{
    margin-top: 5rem;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: hsl(0, 83%, 55%);
    font-family: 'Open Sans', sans-serif;
    
}